@import url("https://fonts.googleapis.com/css?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana&display=swap");

:root {
  --mainBrown: #2d1ef1;
  --mainGold: #c5b358;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

.body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Italiana", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Courier New", Courier, monospace !important; */
  font-family: "Italiana", serif;
  letter-spacing: 0.25rem !important;
}

.text-gold {
  color: var(--mainGold);
}

.btn-gold {
  color: var(--mainGold);
  border-color: var(--mainGold);
  transition: background-color 3s ease;
}

.btn-gold:hover {
  background-color: var(--mainDark);
  color: var(--mainGold);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainGold);
  font-size: 1.5rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  background-position: center;
  background-size: cover;
}

.title {
  font-family: "Caesar Dressing", cursive;
  font-size: 6rem;
}

.sub-title {
  font-family: "Caesar Dressing", cursive;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.quote {
  font-family: "Italiana", serif;
  padding-bottom: 1rem;
}

footer {
  background: black;
  min-height: 10vh;
  color: var(--mainGold);
}

.link {
  font-family: "Caesar Dressing", cursive;
  font-size: 1.25rem;
}

.nav-item:not(:last-child) {
  padding-bottom: 20px;
  padding-left: 15px;
}

.nav-item:last-child {
  padding-right: 25px;
  padding-top: 12px;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
  line-height: 50px;
}

@media only screen and (max-width: 576px) {
  .nav-item:first-child {
    padding-top: 15px;
  }

  .nav-item:last-child {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item:not(:last-child) {
    padding-left: 10px;
  }

  .sub-title {
    font-size: 2.5rem;
    padding-bottom: 400px;
  }

  .logo {
    margin-left: 0px;
    padding-left: 0px;
  }
}
